<div class="nav-items">
  {%- for path in include.paths -%}
  {%- assign hyperpage = site.pages | where: "path", path | first -%}
  {%- if hyperpage.title %}
    {%- assign is_active = false -%}
    {%- if page.url == hyperpage.url -%}
      {%- assign is_active = true -%}
    {%- elsif hyperpage.url == '/' and page.layout == 'post' -%}
      {%- assign is_active = true -%}
    {%- elsif hyperpage.url == '/' and paginator -%}
      {%- assign is_active = true -%}
    {%- elsif hyperpage.url != '/' and page.url contains hyperpage.url -%}
      {%- assign is_active = true -%}
    {%- endif -%}
  <a class="nav-item{% if is_active %} nav-item--active{% endif %}" href="{{ hyperpage.url | relative_url }}"{% if is_active %} aria-current="page"{% endif %}>{{ hyperpage.title | escape }}</a>
  {%- endif -%}
  {%- endfor %}
</div>
