html {
  font-size: $base-font-size;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;

}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit * .5;
}

hr {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  color: $text-color;
  font-weight: 500;
}



/**
 * Links
 */
a {
  color: $accent-color;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: darken($accent-color, 10%);
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-underline-offset: 3px;
  }

  &:focus {
    outline: 2px solid $accent-color;
    outline-offset: 2px;
    border-radius: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid $accent-color;
    outline-offset: 2px;
    border-radius: 2px;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  border-left: 4px solid $accent-color;
  padding: 1rem 1.25rem;
  margin: 1.5rem 0;
  background-color: $block-background;
  border-radius: 4px;
  -webkit-overflow-scrolling: touch;
  color: $text-color;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }

  i, em {
    font-style: normal;
  }

  &:focus {
    outline: 2px solid $text-muted;
    outline-offset: 2px;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-family: $code-font-family;
  background-color: $block-background;

  @include media-query($on-palm) {
    font-family: monospace;
  }
}

pre {
  padding: 1rem 1.25rem;
  font-size: 0.9375rem;
  line-height: 1.6;
  color: $heading-color;
  overflow-x: auto;
  border-radius: 4px;
  background-color: $block-background;

  > code {
    display: inline-block;
    width: 100%;
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: inherit;
  }
}

div.highlight, figure.highlight {
  @extend %vertical-rhythm;
  border: 1px solid $border-color-01;
  border-radius: 4px;
  background-color: $block-background;
  pre { 
    margin: 0;
    border-radius: 4px;
  }
  table, tbody, th, tr, td {
    margin: 0;
    padding: 0;
    border: 0
  }
  .lineno, .gl { text-align: right }
}

figure.highlight {
  table { margin: -8px -12px -14px }
  td.gutter { border-right: 1px solid $border-color-01 }
  td.code { width: 100% }
}

code.highlighter-rouge {
  padding: 0.125rem 0.375rem;
  font-size: 0.875rem;
  border: 1px solid $border-color-01;
  border-radius: 3px;
  background-color: $block-background;
  color: $text-color;
}



/**
 * Wrapper
 */
.wrapper {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 $spacing-unit;
  @extend %clearfix;

  @media screen and (max-width: $on-medium) {
    padding-right: $spacing-unit * 0.6;
    padding-left: $spacing-unit * 0.6;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.orange {
  color: #f66a0a;
}

.grey {
  color: #828282;
}

.svg-icon {
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
  overflow: visible;
}


/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: $table-text-color;
  border-collapse: collapse;
  border: 1px solid $table-border-color;
  tr {
    &:nth-child(even) {
      background-color: $table-zebra-color;
    }
  }
  th, td {
    padding: ($spacing-unit * 33.3333333333 * .01) ($spacing-unit * .5);
  }
  th {
    background-color: $table-header-bg-color;
    border: 1px solid $table-header-border;
  }
  td {
    border: 1px solid $table-border-color;
  }

  @include media-query($on-laptop) {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
