$background-color: #f5f3f0;
$text-color: #1f1f1f;
$heading-color: #1f1f1f;
$site-title-color: #1f1f1f;
$link-base-color: #0d7377;
$link-hover-color: #1f1f1f;
$code-base-color: #1f1f1f;
$code-background-color: #ebe8e4;
$link-visited-color: #8b6f47;
$grey-color: #2a2a2a;
$grey-color-light: #3a3a3a;
