$background-color: #faf9f7;
$text-color: #1a1a1a;
$heading-color: #1a1a1a;
$site-title-color: #1a1a1a;
$link-base-color: #006699;
$link-hover-color: #1a1a1a;
$code-base-color: #1a1a1a;
$link-visited-color: #333333;