---
layout: base
---
<article class="post case-study">

  <header class="post-header">
    <div class="post-header-top">
      <a href="{{ '/portfolio/' | relative_url }}" class="back-to-posts">Back to Portfolio</a>
    </div>
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <div class="case-study-meta">{{ page.portfolio_label | escape }}</div>
  </header>

  <div class="article-body-with-toc">
    <div class="post-content">
      <p>{{ page.description | escape }}</p>

      {{ content }}
    </div>

    {% include toc.html %}
  </div>

</article>

<script>
  document.querySelectorAll('.case-study .post-content a[href^="http"]').forEach((link) => {
    link.target = "_blank";
    link.rel = "noopener noreferrer";
  });
</script>
