---
layout: base
---

<div class="home">

  {%- if page.title -%}
    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>
  {%- endif -%}

  {{ content }}

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}
  
  {%- if posts.size > 0 -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
        <li class="post-item">
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3 class="post-title">
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h3>

          {%- if site.minima.show_excerpts -%}
            <div class="post-excerpt">
              {{ post.excerpt }}
            </div>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
    
    {% if paginator.total_pages > 1 %}
      <div class="pager">
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li>
              <a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page" title="Go to page {{ paginator.previous_page }}">Previous</a>
            </li>
          {% else %}
            <li><div class="pager-edge">•</div></li>
          {% endif %}

          <li><div class="current-page">Page {{ paginator.page }} of {{ paginator.total_pages }}</div></li>

          {% if paginator.next_page %}
            <li>
              <a href="{{ paginator.next_page_path | relative_url }}" class="next-page" title="Go to page {{ paginator.next_page }}">Next</a>
            </li>
          {% else %}
            <li><div class="pager-edge">•</div></li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
  {%- endif -%}

</div>